.o-settings {
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    color: $white-color;
    a:link {
        color: $white-color;
        text-decoration: none;
    }
    
    a:visited {
        color: $white-color;
        text-decoration: none;
    }
    
    a:hover {
        color: $accent-color;
        text-decoration: none;
    }
    
    a:active {
        color: $white-color;
        text-decoration: none;
    }
    .m-settings {
        margin-top: 0.2rem;
        text-align: center;

    }
    .a-settingItem {
        font-size: 16pt;
        cursor: pointer;
    }
}
.a-settingsHeader {
    color: $accent-color;
    font-size: 18pt;
    font-weight: 700;
}