.o-collectionPlaylistOverview {
    padding-bottom: 9rem;

    .m-playlistOveriew {

        margin: 1rem 0;
        color: $white-color;
        .a-PlaylistOverviewImage {
            width: 9vh;
            height: 9vh;
            object-fit: cover;
        }
        .m-playlistOveriewTitle {
            display: flex;
            align-items: center;
            font-size: 15pt;
            font-weight: 550;
        }
        .m-listOverviewButton {
            display: flex;
            justify-content: center;
            align-items: center;
            .a-listOverviewButton {
                font-size: 18pt;
            }
        }
        
    }
    a:link {
        color: $white-color;
        text-decoration: none;
    }
    a:visited {
        color: $white-color;
        text-decoration: none;
    }
    a:hover {
        color: $white-color;
        text-decoration: none;
    }
    a:active {
        color: $white-color;
        text-decoration: none;
    }
}

// playlist detail
.m-playlistDetailCover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    padding-top: 1rem;
    .a-playlistDetailCover {
        width: 9vh;
        height: 9vh;
        border-radius: 4px;
    }

}
.a-playlistDetailTitle {
    text-align: center;
}
.m-playlistDetailTrash {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
    Artist
*/

.o-collectionArtistOverview {
    padding-top: 1rem;
    padding-bottom: 9rem;

    .m-artistOveriew {

        margin: 0.6rem 0;
        color: $white-color;
        .a-artistOverviewImage {
            width: 5vh;
            height: 5vh;
            object-fit: cover;
            border-radius: 50%;
        }
        .m-artistOveriewTitle {
            display: flex;
            align-items: center;
            font-size: 15pt;
            font-weight: 550;
        }
        .m-artistOverviewButton {
            display: flex;
            justify-content: center;
            align-items: center;
            .a-artistOverviewButton {
                font-size: 18pt;
            }
        }
        
    }
}
.a-artistDetailCover {
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
}

.o-artistSection {
    color: $white-color;
    padding-bottom: 9rem;
    
        .a-artistSectionTitle {
            padding: 1rem;
            font-weight: 700;
            font-size: 16pt;
        }
    
        .o-artistAlbumCard {
            margin-bottom: 1rem;
            .m-artistAlbumCard {
                display: flex;
                flex-direction: column;
                padding: 2px;
                .a-cardAlbumImg {
                    width: 100%;
                    border-radius: 3px;
                }
                .a-albumTitleArtist {
                    padding-top: 0.2rem;
                    font-weight: 700;
                }

            }
        }

        .m-songArtistOveriew {

            margin-bottom: 0.6rem;
            color: $white-color;
            .a-songArtistOverviewImage {
                width: 5vh;
                height: 5vh;
                object-fit: cover;
                border-radius: 5px;
            }
            .m-songOveriewTitle {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
    
                .a-songOveriewTitle {
                    font-size: 12pt;
                    font-weight: 550;
                }

            }
            .m-songOverviewButton {
                display: flex;
                justify-content: center;
                align-items: center;
    
                .a-songOverviewButton {
                    font-size: 15pt;
                    color: $accent-color;
                }
                .a-songOverviewButtonAlt {
                    font-size: 15pt;
                    color: $white-color;
                }
            }
            
        }
}
/*
    Song
*/
.a-songOverviewButton {
    font-size: 15pt;
    color: $accent-color;
}
.a-songOverviewButtonAlt {
    font-size: 15pt;
    color: $white-color;
}
.o-collectionSongOverview {
    padding-top: 1rem;
    padding-bottom: 9rem;

    .m-songOveriew {

        margin: 0.4rem 0;
        color: $white-color;
        .a-songOverviewImage {
            width: 5vh;
            height: 5vh;
            object-fit: cover;
            border-radius: 5px;
        }
        .m-songOveriewTitle {
            display: flex;
            align-items: flex-start;
            justify-content: centers;
            flex-direction: column;

            .a-songOveriewTitle {
                font-size: 11pt;
                font-weight: 550;
            }

            .a-songOveriewArtist {
                font-size: 8pt;
                font-weight: 400;
            }
        }
        .m-songOverviewButton {
            display: flex;
            justify-content: center;
            align-items: center;

            .a-songOverviewButton {
                font-size: 15pt;
                color: $accent-color;
            }
            .a-songOverviewButtonAlt {
                font-size: 15pt;
                color: $white-color;
            }
        }
        
    }

    // song popup

    .o-songPopup {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(76, 76, 76, 0.909);
        border-radius: 13px 13px 0 0;
        z-index: 1000;
        padding-bottom: 5rem;

        .m-songPopup {
            display: flex;
            align-items: center;
            flex-direction: column;

            .a-songPopupImage {
                margin-top: 2rem;
                width: 33vw;
                height: 33vw;
                border-radius: 7px;
            }
            .a-songPopupTitle {
                margin: 0.7rem 0;
                font-size: 13pt;
                font-weight: 700;
            }
            .a-songPopupArtist {
                font-size: 13pt;
            }
        }
        .m-songPopupAction {
            margin-top: 2.4rem;

        }
        .a-songPopupAction {
            padding-left: 1rem;
            font-size: 15pt;
            font-weight: 200;
        }
        .a-songPopupClose {
            margin-top: 3rem;

            font-size: 15pt;
            font-weight: 700;
            text-align: center;
        }
    }
}