.o-navigationBottom {
    background-color: $main-color;
    border-radius: 30px;
    margin:  0 16px;
    height: 3rem;
    z-index: 10000;
    position: fixed;
    right: 0px;
    left: 0px;
    bottom: 15px;

    .m-navigationBottom {
        display: flex;
        height: 100%;
    }
    .a-navigationBottom {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .a-navLogo {
            font-size: 18pt;
            color: $accent-color;
        }
        .a-activeNav {
            color: $white-color;
        }
    }
}